# Procesos ETL
## Transformación

### Paso 1.
Importar Librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from extraccion import Extraccion as extra

## Paso 2.
Rutas de los insumos

In [3]:
ruta_actual = os.getcwd()
print(ruta_actual)
extraccion = extra()

D:\Proyectos\etl\scr

In [4]:
path_ds_world_population = os.path.join(ruta_actual,'data/data_population_world.csv').replace("\\","/")
path_metadata = os.path.join(ruta_actual,'data/metadata_countries.csv').replace("\\","/")
path_codes = os.path.join(ruta_actual,'data/country_list.csv').replace("\\","/")
path_years_schooling = os.path.join(ruta_actual,'data/mean-years-of-schooling-long-run.csv').replace("\\","/")
path_countries_gdp = os.path.join(ruta_actual,'data/countries_gdp_hist.csv').replace("\\","/")
path_organizations_gdp = os.path.join(ruta_actual,'data/organizations_gdp_hist.csv').replace("\\","/")

## Paso 3.
Cargar los Datasets

In [9]:
df_popu = extraccion.extraccion_csv(path_ds_world_population,separador=',')
df_meta = extraccion.extraccion_csv(path_metadata, separador=',')
df_codes = extraccion.extraccion_csv(path_codes, separador=',')
df_avg_schooling = extraccion.extraccion_csv(path_years_schooling, separador=';')
df_countries_gdp = extraccion.extraccion_csv(path_countries_gdp, separador=';')
df_organizations_gdp = extraccion.extraccion_csv(path_organizations_gdp, separador=',')

## Exploración

## Previsualización de los datos

In [14]:
print(df_popu.head())

  Country Name Country Code    Indicator Name Indicator Code         1960  \
0        Aruba          ABW  Población, total    SP.POP.TOTL      54608.0
1          NaN          AFE  Población, total    SP.POP.TOTL  130692579.0
2   Afganistán          AFG  Población, total    SP.POP.TOTL    8622466.0
3          NaN          AFW  Población, total    SP.POP.TOTL   97256290.0
4       Angola          AGO  Población, total    SP.POP.TOTL    5357195.0

          1961         1962         1963         1964         1965  ...  \
0      55811.0      56682.0      57475.0      58178.0      58782.0  ...
1  134169237.0  137835590.0  141630546.0  145605995.0  149742351.0  ...
2    8790140.0    8969047.0    9157465.0    9355514.0    9565147.0  ...
3   99314028.0  101445032.0  103667517.0  105959979.0  108336203.0  ...
4    5441333.0    5521400.0    5599827.0    5673199.0    5736582.0  ...

          2013         2014         2015         2016         2017  \
0     102880.0     103594.0     104257.0     104874.0     105439.0
1  567891875.0  583650827.0  600008150.0  616377331.0  632746296.0
2   31541209.0   32716210.0   33753499.0   34636207.0   35643418.0
3  387204553.0  397855507.0  408690375.0  419778384.0  431138704.0
4   26147002.0   27128337.0   28127721.0   29154746.0   30208628.0

          2018         2019         2020         2021  Unnamed: 66
0     105962.0     106442.0     106585.0     106537.0          NaN
1  649756874.0  667242712.0  685112705.0  702976832.0          NaN
2   36686784.0   37769499.0   38972230.0   40099462.0          NaN
3  442646825.0  454306063.0  466189102.0  478185907.0          NaN
4   31273533.0   32353588.0   33428486.0   34503774.0          NaN

[5 rows x 67 columns]

In [10]:
print(df_meta.head())

  Country Name Country Code  \
0        Aruba          ABW
1          NaN          AFE
2   Afganistán          AFG
3          NaN          AFW
4       Angola          AGO

                                              Region  \
0                                                NaN
1                                                NaN
2                                    Asia meridional
3                                                NaN
4  África al sur del Sahara (excluido altos ingre...

                     Income_Group  Unnamed: 4
0                    Ingreso alto         NaN
1                       Agregados         NaN
2          Países de ingreso bajo         NaN
3                       Agregados         NaN
4  Países de ingreso mediano bajo         NaN

## Estructura Datasets

In [11]:
df_popu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            265 non-null    float64
 35  1991            265 non-null    float64
 36  1992            265 non-null    float64
 37  1993            265 non-null    float64
 38  1994            265 non-null    float64
 39  1995            265 non-null    float64
 40  1996            265 non-null    float64
 41  1997            265 non-null    float64
 42  1998            265 non-null    float64
 43  1999            265 non-null    float64
 44  2000            265 non-null    float64
 45  2001            265 non-null    float64
 46  2002            265 non-null    float64
 47  2003            265 non-null    float64
 48  2004            265 non-null    float64
 49  2005            265 non-null    float64
 50  2006            265 non-null    float64
 51  2007            265 non-null    float64
 52  2008            265 non-null    float64
 53  2009            265 non-null    float64
 54  2010            265 non-null    float64
 55  2011            265 non-null    float64
 56  2012            265 non-null    float64
 57  2013            265 non-null    float64
 58  2014            265 non-null    float64
 59  2015            265 non-null    float64
 60  2016            265 non-null    float64
 61  2017            265 non-null    float64
 62  2018            265 non-null    float64
 63  2019            265 non-null    float64
 64  2020            265 non-null    float64
 65  2021            265 non-null    float64
 66  Unnamed: 66     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB

In [12]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  266 non-null    object
 2   Region        136 non-null    object
 3   Income_Group  266 non-null    object
 4   Unnamed: 4    0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 10.5+ KB

### Transformar Dataset df_population de vertical a horizontal

In [15]:
df_popu_c = pd.melt(
    df_popu,
    id_vars=['Country Name','Country Code','Indicator Name', 'Indicator Code'],
    value_vars = df_popu.iloc[:,4:-1].columns,
    var_name = 'year',
    value_name=('total')
)

In [16]:
df_popu_c.head()

,Country Name,Country Code,Indicator Name,Indicator Code,year,total
0,Aruba,ABW,"Población, total",SP.POP.TOTL,1960,54608.0
1,NaN,AFE,"Población, total",SP.POP.TOTL,1960,130692579.0
2,Afganistán,AFG,"Población, total",SP.POP.TOTL,1960,8622466.0
3,NaN,AFW,"Población, total",SP.POP.TOTL,1960,97256290.0
4,Angola,AGO,"Población, total",SP.POP.TOTL,1960,5357195.0

In [17]:
df_popu_c.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,year,total
16487,Kosovo,XKX,"Población, total",SP.POP.TOTL,2021,1786038.0
16488,"Yemen, Rep. del",YEM,"Población, total",SP.POP.TOTL,2021,32981641.0
16489,Sudáfrica,ZAF,"Población, total",SP.POP.TOTL,2021,59392255.0
16490,Zambia,ZMB,"Población, total",SP.POP.TOTL,2021,19473125.0
16491,Zimbabwe,ZWE,"Población, total",SP.POP.TOTL,2021,15993524.0

In [18]:
df_popu_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16492 entries, 0 to 16491
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    16368 non-null  object
 1   Country Code    16492 non-null  object
 2   Indicator Name  16492 non-null  object
 3   Indicator Code  16492 non-null  object
 4   year            16492 non-null  object
 5   total           16400 non-null  float64
dtypes: float64(1), object(5)
memory usage: 773.2+ KB

## Descripción de estadísticas básicas

In [19]:
df_popu_c.describe()

              total
count  1.640000e+04
mean   2.140804e+08
std    7.040554e+08
min    2.646000e+03
25%    9.863025e+05
50%    6.731400e+06
75%    4.602445e+07
max    7.888409e+09

In [20]:
df_meta.describe()

       Unnamed: 4
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

## Indentificar valores únicos

In [22]:
df_popu_c.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       'year', 'total'],
      dtype='object')

In [23]:
df_popu_c['Country Name'].nunique()

264

In [25]:
df_meta.columns

Index(['Country Name', 'Country Code', 'Region', 'Income_Group', 'Unnamed: 4'], dtype='object')

In [26]:
df_meta['Region'].nunique()

6

## Detección de valores nulos

In [29]:
df_popu_c.isnull().sum()

Country Name      124
Country Code        0
Indicator Name      0
Indicator Code      0
year                0
total              92
dtype: int64

In [30]:
df_popu.isnull().sum()

Country Name        2
Country Code        0
Indicator Name      0
Indicator Code      0
1960                2
                 ...
2018                1
2019                1
2020                1
2021                1
Unnamed: 66       266
Length: 67, dtype: int64

In [31]:
df_popu_c.isnull().mean()*100

Country Name      0.751880
Country Code      0.000000
Indicator Name    0.000000
Indicator Code    0.000000
year              0.000000
total             0.557846
dtype: float64

In [32]:
df_meta.isnull().sum()

Country Name      2
Country Code      0
Region          130
Income_Group      0
Unnamed: 4      266
dtype: int64

In [33]:
print(df_meta.isnull().mean()*100)

Country Name      0.75188
Country Code      0.00000
Region           48.87218
Income_Group      0.00000
Unnamed: 4      100.00000
dtype: float64

## Visualización de la distribución de datos numéricos